In [1]:
import pandas as pd
import numpy as np

In [2]:
def my_sum(n):
    sum_ = 0
    for i in range(n+1):
        sum_ += i
    return(sum_)

In [4]:
my_sum(10)

55

In [8]:
# https://yourbasic.org/algorithms/time-complexity-recursive-functions/

# Master theoream in calculating big O
# T(n) = K + T(n-1) -> O(n)
# T(n) = K + T(n/2) -> O(logn)
# Look at master theoream in link above for a more general case.


def my_sum2(n):
    if n==1:
        return(1)
    else:
        return(n + my_sum2(n-1))

In [9]:
my_sum2(10)

55

In [1]:
def b_s(a, x): 
    '''binary seacrh
       a: is sorted array'''
    mid_index = len(a)//2
    if len(a)==1:
        return (True,mid_index) if x==a[0] else False
    elif x < a[mid_index]:
        return(b_s(a[:mid_index] , x))
    else:
        return(b_s(a[mid_index:],x))

In [2]:
tmp = [1,2,4,9,12]

In [4]:
b_s(tmp,9)

(True, 0)

In [71]:
def b_s2(array, l, r, x):
    if r >= l:
        mid = l + (r-l)//2
        if array[mid] == x:
            return mid
        elif x < array[mid]:
            return b_s2(array,l, mid-1,x)
        else:
            return b_s2(array,mid+1,r,x)
    else:
        return -1

In [72]:
b_s2(tmp,0,len(tmp)-1,12)

4

In [1]:
# merge sort O(nlogn)
def merge_sort(array):
    if len(array) > 1:
        mid = len(array)//2
        L = array[:mid]
        R = array[mid:]
        merge_sort(L)
        merge_sort(R)
        i=j=k=0
        while i < len(L) and j < len(R):
            if L[i] < R[j]:
                array[k] = L[i]
                i+=1
                k+=1
            else:
                array[k] = R[j]
                j+=1
                k+=1
        while i < len(L):
            array[k]=L[i]
            i+=1
            k+=1
        while j < len(R):
            array[k]=R[j]
            j+=1
            k+=1

In [2]:
tmp = [8,1,3,10,-1,12,0,9]

In [3]:
merge_sort(tmp)

In [4]:
tmp

[-1, 0, 1, 3, 8, 9, 10, 12]

In [5]:
test =[12,1,10,2,14,5]

In [6]:
merge_sort(test)

In [7]:
test

[1, 2, 5, 10, 12, 14]

In [83]:
## selection sort (O(n^2))
def selectionSort(array):
    size = len(array)
    
    for i in range(size-1):
        minIndex = i
        for j in range(i+1,size):
            if array[j] < array[minIndex]:
                minIndex = j
        tmp = array[minIndex]
        array[minIndex] = array[i]
        array[i] = tmp

In [90]:
selectionSort(tmp)

In [91]:
tmp

[-1, 0, 1, 3, 8, 9, 10, 12]

In [83]:
#https://www.geeksforgeeks.org/print-longest-substring-without-repeating-characters/
test = 'abcdeabc'

def findLongestSubstring(string): 
  
    n = len(string)  
  
    # starting point of current substring.  
    st = 0
  
    # maximum length substring without  
    # repeating characters.  
    maxlen = 0
  
    # starting index of maximum  
    # length substring.  
    start = 0
  
    # Hash Map to store last occurrence  
    # of each already visited character.  
    pos = {}  
  
    # Last occurrence of first 
    # character is index 0  
    pos[string[0]] = 0
  
    for i in range(1, n):  
  
        # If this character is not present in hash,  
        # then this is first occurrence of this  
        # character, store this in hash.  
        if string[i] not in pos:  
            pos[string[i]] = i  
  
        else: 
            # If this character is present in hash then  
            # this character has previous occurrence,  
            # check if that occurrence is before or after  
            # starting point of current substring.  
            if pos[string[i]] >= st:  
  
                # find length of current substring and  
                # update maxlen and start accordingly.  
                currlen = i - st  
                if maxlen < currlen:  
                    maxlen = currlen  
                    start = st  
  
                # Next substring will start after the last  
                # occurrence of current character to avoid  
                # its repetition.  
                st = pos[string[i]] + 1
              
            # Update last occurrence of  
            # current character.  
            pos[string[i]] = i  
          
    # Compare length of last substring with maxlen  
    # and update maxlen and start accordingly.  
    if maxlen < i - st:  
        maxlen = i - st  
        start = st  
      
    # The required longest substring without  
    # repeating characters is from string[start]  
    # to string[start+maxlen-1].  
    return string[start : start + maxlen]

In [85]:
findLongestSubstring(test)

'abcde'

In [143]:
from sys import maxsize 
def maxSubArray(array):
    n = len(array)
    max_so_far = -maxsize
    start = 0
    end = 0
    s = 0
    current_sum = 0
    for i in range(0,n):
        current_sum += array[i]
        if current_sum > max_so_far:
            max_so_far = current_sum
            start = s
            end = i
        if current_sum <0:
            current_sum = 0
            s = i+1
    print('max sum array is {}, and start index is {}, end index is {}'.format(max_so_far, start, end))

In [144]:
maxSubArray([1,2,-5,10,1])

max sum array is 11, and start index is 3, end index is 4

In [145]:
maxSubArray([1,2,-5,-3,-4])

max sum array is 3, and start index is 0, end index is 1

In [146]:
# def maxSubArraySum(a): 
#     n = len(a)
#     max_so_far = -maxsize 
#     max_ending_here = 0
#     start = 0
#     end = 0
#     s = 0
  
#     for i in range(0,n): 
  
#         max_ending_here += a[i] 
  
#         if max_so_far < max_ending_here: 
#             max_so_far = max_ending_here 
#             start = s 
#             end = i 
  
#         if max_ending_here < 0: 
#             max_ending_here = 0
#             s = i+1
  
#     print ("Maximum contiguous sum is %d"%(max_so_far)) 
#     print ("Starting Index %d"%(start)) 
#     print ("Ending Index %d"%(end))

In [147]:
#maxSubArraySum([1,2,-5,-3,-4])

In [11]:
# https://www.geeksforgeeks.org/find-the-smallest-positive-number-missing-from-an-unsorted-array/
def smallest_missing_positive(array):
    m = max(array)
    if m <=0:
        return 1
    if len(array)==1:
        return 1 if array[0]!=1 else 2
    tmp = [0]*m
    for i in range(0,len(array)):
        if array[i] > 0:
            if tmp[array[i]-1]!=1:
                tmp[array[i]-1] = 1
    for i in range(len(tmp)):
        if(tmp[i]==0):
            return(i+1)
        
    return(i+2)

In [12]:
smallest_missing_positive([1,2,-5,3,5])

4

In [22]:
# prime number
def IsPrime(num):
    if num < 2:
        return False
    elif num==2:
        return True
    else:
        for i in range(2,num):
            if(num%i==0):
                return False
                
    return True

In [ ]:
# def isprime(n):
#     '''check if integer n is a prime'''

#     # make sure n is a positive integer
#     n = abs(int(n))

#     # 0 and 1 are not primes
#     if n < 2:
#         return False

#     # 2 is the only even prime number
#     if n == 2: 
#         return True    

#     # all other even numbers are not primes
#     if not n & 1: # bitwise operation https://www.geeksforgeeks.org/3-ways-check-number-odd-even-without-using-modulus-operator-set-2-can-merge-httpswww-geeksforgeeks-orgcheck-whether-given-number-even-odd/
#         return False

#     # range starts with 3 and only needs to go up 
#     # the square root of n for all odd numbers
#     for x in range(3, int(n**0.5) + 1, 2):
#         if n % x == 0:
#             return False

#     return True

In [8]:
def isPrime(n):
    n = abs(int(n))
    if n < 2:
        return False
    if n==2:
        return True
    if n%2==0: # if not n&1
        return False
    for i in range(3,int(n**0.5)+1,2):
        if n%i==0:
            return False
        else:
            return True

In [9]:
isPrime(23)

True

In [34]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1) + fib(n-2)

In [39]:
fib(8)

21

In [49]:
def fib2(n):
    if n < 2:
        return n
    else:
        first = 0
        second = 1
        for i in range(1,n):
            third = first + second
            first = second
            second = third
    return(third)

In [55]:
fib2(8)

21

In [57]:
def isFib(n):
    start = 0
    while(fib2(start) <= n):
        if fib2(start)==n:
            return True
        else:
            start += 1
    return False

In [58]:
isFib(21)

True

In [62]:
def isPerfectSq(num):
    return True if (int(num**0.5))**2==num else False

In [65]:
isPerfectSq(120)

False

In [66]:
def isFib2(num):
    return True if (isPerfectSq(5*num**2 + 4) or isPerfectSq(5*num**2 - 4)) else False

In [68]:
isFib2(20)

False

In [ ]:
# repeated character in a string

In [10]:
def repeated_char(string):
    tmp = {}
    for s_ in string:
        if s_ not in tmp:
            tmp[s_] = 1
        else:
            tmp[s_] += 1
    return [(k,v) for k, v in tmp.items() if v>=2]

In [11]:
mystring = 'abcdeabaaa'
repeated_char(mystring)

[('a', 5), ('b', 2)]

In [6]:
x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

In [14]:
list({k:v for k,v in sorted(x.items(), key=lambda x:x[1],reverse=True)}.keys())[0]

3

In [15]:
x.items()

dict_items([(1, 2), (3, 4), (4, 3), (2, 1), (0, 0)])

In [96]:
import numpy as np
def PI_MC(m):
    cnt = 0
    for i in range(m):
        x = np.random.uniform(low=-1,high=1) 
        y = np.random.uniform(low=-1,high=1)
        if (x**2 + y**2)<=1:
            cnt += 1
    return(4*cnt/m)

In [99]:
PI_MC(1000000)

3.140568

In [131]:
## Extract digits from a integer number
def getdigits(n):
    if n < 10:
        return [n]
    return getdigits(n//10) + [n%10]

In [125]:
def extractDigit2(num):
    digit = []
    while(num >= 10):
        digit.append(num%10)
        num = num//10
    digit.append(num)    
    return(digit)

In [12]:
num = 123

In [14]:
[int(d) for d in str(num)][-1::-1]

[3, 2, 1]

In [103]:
int(str(num)[-1::-1])

321

In [132]:
getdigits(num)

[1, 2, 3]

In [ ]:
# Bit operation

In [5]:
n = 23

In [9]:
"{0:b}".format(n)

'10111'

In [10]:
"{0:b}".format(1)

'1'

In [11]:
"{0:b}".format(2)

'10'

In [13]:
if (n & 2):
    print(True)

True

In [15]:
"{0:b}".format(n & 2)

'10'

In [16]:
n >> 2 # shift to the right two times means dividing bt 2 two times which is dividing n by 4. (23//4 = 5)

5

In [17]:
n << 2 # shift to the left two times means multiplying by 4 (23*4 = 92)

92

In [18]:
n

23

#### https://simpleprogrammer.com/programming-interview-questions/

### How do you find the missing number in a given integer array of 1 to 100?

In [50]:
def findMissing(array):
    tmp = [0]*max(array)
    #print(max(array))
    for i in array:
        #print(i)
        if tmp[i-1]!=1:
            tmp[i-1]=1
    for i in range(len(tmp)):
        if tmp[i]==0:
            return(i+1)

    return(i+2)

In [53]:
test = [2,5,1,4,6,3]

In [54]:
findMissing(test)

7

In [11]:
mylist =[]

In [14]:
mylist.insert(0,(3,4))

In [15]:
mylist

[(3, 4), (1, 2)]

In [71]:
## How do you find the duplicate number on a given integer array?
test = [1,2,3,4,5,2,5,10,1]
def findDuplicate(array):
    tmp = {}
    for i in array:
        #print(i)
        if i not in tmp.keys():
            tmp[i] = 1
        else:
            tmp[i]+=1
    return([k for k in  tmp.keys() if tmp[k] >=2])

In [72]:
findDuplicate(test)

[1, 2, 5]

In [16]:
def update_key(d, k):
    if k not in d:
        d[k] = 1
    else:
        d[k] += 1

In [28]:
mydict ={}

In [29]:
update_key(mydict,3)

In [30]:
mydict

{3: 1}

In [31]:
update_key(mydict,1)

In [32]:
mydict

{3: 1, 1: 1}

In [73]:
## How do you find all pairs of an integer array whose sum is equal to a given number?

In [74]:
test = [1,2,4,5,6,9,8]

In [79]:
def findPairs_givenSum(array,s):
    count = 0
    for i in range(len(array)-1):
        for j in range(i+1,len(array)):
            if (array[i] + array[j])==s:
                print(array[i],array[j])
                count += 1
    return(count)

In [80]:
findPairs_givenSum(test,10)

1 9
2 8
4 6

3

In [91]:
mystring = 'dbcab'
for s_ in mystring:
    print(s_)
    print(ord(s_))

d
100
b
98
c
99
a
97
b
98

In [92]:
from collections import Counter

In [93]:
freq = Counter(mystring)

In [94]:
freq

Counter({'d': 1, 'b': 2, 'c': 1, 'a': 1})

In [95]:
for s_ in mystring:
    if (freq[s_]==1):
        print(s_)
        break

d

In [101]:
print(ord('0'))

48

In [ ]:
48 to 57

In [33]:
mys = '12346a'

In [35]:
mys.isdigit()

False

In [106]:
def allDigits(s):
    for s_ in mys:
        if ord(s_) < 48 | ord(s_) > 57 :
            return(False)
    return(True)

In [120]:
def allDigits(s):
    for s_ in mys:
        if s_ <= '0' or s_ >= '9':
            return(False)
    return(True)

In [121]:
allDigits(mys)

False

In [110]:
mys.isdigit()

False

In [111]:
ch = 'a'

In [114]:
if ch >= 'b':
    print(True)
else:
    print(False)

False

In [129]:
print(ord('A'))

65

In [123]:
print(ord('9'))

57

In [132]:
chr(65)

'A'

In [133]:
ord('A')

65

In [135]:
data =['abc','bac']
print(''.join(data))

abcbac

In [138]:
mys= list('amin saligh')

In [139]:
mys[0]

'a'

In [1]:
def reverse_word(s, start, end):
    while start < end:
        s[start], s[end] = s[end], s[start]
        start = start + 1
        end -= 1

In [2]:
s = "amin like"

In [3]:
s = list(s)
start = 0

In [4]:
end = s.index(' ',0)

In [5]:
reverse_word(s,start,end)

In [6]:
s

[' ', 'n', 'i', 'm', 'a', 'l', 'i', 'k', 'e']

In [158]:
s.reverse()

In [159]:
s

['e', 'k', 'i', 'l', 'a', 'm', 'i', 'n', ' ']

In [161]:
"".join(s)

'ekilamin '

In [162]:
s = "i like this program very much"
words = s.split(' ')
string =[]
for word in words:
    string.insert(0, word)
 
print("Reversed String:")
print(" ".join(string))

Reversed String:
much very program this like i

In [163]:
words

['i', 'like', 'this', 'program', 'very', 'much']

In [170]:
mylist =[]

In [173]:
mylist.insert(0,'marjan')

In [174]:
mylist

['marjan', 'Amin']

In [169]:
string

['much', 'very', 'program', 'this', 'like', 'i']

In [1]:
## Find second largest is a sorted array

test1 = [10,9,5,3] # 9
test2 = [10,10,5,3] # 5
test3 = [10,10,10,3] # 3
test4 = [10,10,10,10] # No second largest array'

In [36]:
test = [3,9,10,5]

In [38]:
sorted(test, reverse=True)

[10, 9, 5, 3]

In [2]:
def secondLarget(array):
    for i in range(1, len(array)):
        if array[i] != array[0]:
            return(array[i])
    return('No second largest')

In [6]:
secondLarget(test4)

'No second largest'

In [16]:
# How are duplicates removed from an array without using any library?

In [17]:
test1 = [1,2,3,3,5,5,5,6,6]

In [27]:
def remove_dup(array):
    no_dup = []
    dup = []
    for i in range(len(array)):
        if array[i] not in no_dup:
            no_dup.append(array[i])
        else:
            if array[i] not in dup:
                dup.append(array[i])
    return(no_dup,dup)

In [28]:
remove_dup(test1)

([1, 2, 3, 5, 6], [3, 5, 6])

In [29]:
mylist = ['amin','marjan', 'Saligh', 'Rezvani']

In [31]:
mystring = 'amin Salighehdear'

In [32]:
mystring.lower()

'amin salighehdear'

In [38]:
if any(word in mystring for word in mylist):
    print('yes')

yes

In [44]:
if any(word in mystring for word in mylist if word!='Saligh'):
    print('yes')

yes

In [55]:
#How do you reverse a given string in place?
mystring = 'saligh'
def reverse_string(s):
    rev = []
    for s_ in s:
        rev.insert(0,s_)
    return("".join(rev))

In [56]:
reverse_string(mystring)

'hgilas'

In [59]:
# How do you check if two strings are anagrams of each other?

In [70]:
s1 = 'dddd'
s2 = 'abcd'
# O(nlogn)
def is_anagrams(s1, s2):
    if len(s1)!=len(s2):
        return(False)
    s1 = sorted(s1)
    s2 = sorted(s2)
    for i in range(len(s1)):
        if s1[i]!=s2[i]:
            return(False)
    return(True)

In [71]:
is_anagrams(s1, s2)

False

In [4]:


def sqr_root(x, l):
    a = x
    while(1):
        x_new = 0.5*(x+a/x)
        if (abs(x_new - x) < l):
            return(x_new)
        else:
            x = x_new

In [5]:
sqr_root(16, 0.00001)

4.000000000000051

## Print all magic square matrix

In [1]:
# https://www.geeksforgeeks.org/check-given-matrix-is-magic-square-or-not/

In [2]:
mat = [[1,2,3],
      [4,5,6],
      [7,8,9]]

In [3]:
mat[0]

[1, 2, 3]

In [4]:
len(mat[0])

3

In [5]:
len(mat)

3

In [19]:
def isSquareMagic(mat):
    N = len(mat) # since mat is a square matrix, number of rows and columns are the same. Otherwise 
                 # you can get number of columns as M = len(mat[0])
    print(N)
    #diagonal sum
    s = 0
    for i in range(0,N):
        s += mat[i][i]
    # off diagonal
    s2 = 0
    for i in range(0,N):
        s2 += mat[i][N-i-1]
    if(s!=s2):
        return(False)
    #row sum
    for i in range(0,N):
        rowSum = 0
        for j in range(0,N):
            rowSum += mat[i][j]
        if(rowSum!=s):
            return(False)
   # col sum
    for j in range(0, N):
        colSum = 0
        for i in range(0, N):
            colSum += mat[i][j]
        if(colSum!=s):
            return(False)
    return(True)

In [20]:
isSquareMagic(mat)

3

False

In [21]:
mat = [ [ 2, 7, 6 ],
        [ 9, 5, 1 ],
        [ 4, 3, 8 ] ]

In [22]:
isSquareMagic(mat)

3

True

In [25]:

for i in range(0,len(mat)):
    print(mat[i])

[2, 7, 6]
[9, 5, 1]
[4, 3, 8]

In [1]:
# Count maximum possible pairs from an array having sum K
def maxPairs(nums, k):
     
    # Sort array in increasing order
    nums = sorted(nums)
 
    # Stores the final result
    result = 0
 
    # Initialize the left and right pointers
    start, end = 0, len(nums) - 1
     
    # Traverse array until start < end
    while (start < end):
        if (nums[start] + nums[end] > k):
 
            # Decrement right by 1
            end -= 1
 
        elif (nums[start] + nums[end] < k):
 
            # Increment left by 1
            start += 1
             
        # Increment result and left
        # pointer by 1 and decrement
        # right pointer by 1
        else:
            start += 1
            end -= 1
            result += 1
 
    # Print the result
    print(result)

In [2]:
mylist = [3, 1, 3, 4, 3, 3, 3, 3]

In [3]:
maxPairs(mylist, 6)

3

In [5]:
sorted(mylist)

[1, 3, 3, 3, 4]

In [4]:
arr = [1, 2, 3, 1, 3, 6, 6]
def find_duplicats(array):
    dup = {}
    for i in range(0,len(array)):
        if array[i] not in dup:
            dup[array[i]] = 1
        else:
            dup[array[i]] += 1
    return(dup)

In [5]:
find_duplicats(arr)

{1: 2, 2: 1, 3: 2, 6: 2}

In [8]:
def return_dup_from_dict(myd):
    return([k for k, v in myd.items() if v>1])

In [9]:
return_dup_from_dict(find_duplicats(arr))

[1, 3, 6]

In [12]:
if 'a' not in'cbc':
    print(True)

True

In [2]:
test = pd.DataFrame({'id':['amin saligh', 'Marjan Rez'],
                    'number':['917-434-4853','917-680-9928']})

In [3]:
test

            id        number
0  amin saligh  917-434-4853
1   Marjan Rez  917-680-9928

In [5]:
for idx, row in test.iterrows():
    print(row['id'])

amin saligh
Marjan Rez

In [16]:
test['id_strip'] = test.apply(lambda row:row['id'].replace(" ",""), axis=1)

In [18]:
test['number_strip'] = test.apply(lambda row:row['number'].replace("-",""), axis=1)

In [19]:
test

            id        number    id_strip number_strip
0  amin saligh  917-434-4853  aminsaligh   9174344853
1   Marjan Rez  917-680-9928   MarjanRez   9176809928

In [14]:
'amin saligh'.replace(' ',"")

'aminsaligh'

In [20]:
def modify_phone_number (s):
    return s[:3] + '-' + s[3:6] + '-' + s[6:]

In [21]:
modify_phone_number('9174344853')

'917-434-4853'

In [22]:
test['modified_phone_number'] = test.apply(lambda row:modify_phone_number(row['number_strip']), axis=1)

In [23]:
test

            id        number    id_strip number_strip modified_phone_number
0  amin saligh  917-434-4853  aminsaligh   9174344853          917-434-4853
1   Marjan Rez  917-680-9928   MarjanRez   9176809928          917-680-9928

In [2]:
# newton method to find a root of a function
# f(x) = x^2 -4*x -7

In [7]:
def f(x):
    return(x**2 - 4*x -7)

def f_prime(x):
    return(2*x - 4)

In [8]:
from sys import maxsize 
def newton(x_start, eps):
    i = maxsize
    while (i >= eps):
        x_new = x_start - f(x_start)/f_prime(x_start)
        i = abs(x_new - x_start)
        x_start = x_new
    return(x_new)

In [9]:
newton(5, 0.0001)

5.316624790619765

In [10]:
print(maxsize)

9223372036854775807

In [ ]:
# use newton to find a root
# sqrt(x) = a 
# f(x) = x - a^2
# f_prime(x) = 1

In [7]:
def f(x, a):
    return(a - x**2)
def f_prime(x):
    return(-2*x)

In [8]:
from sys import maxsize 
def newton_root(num, x_start, eps):
    i = maxsize
    while (i >= eps):
        x_new = x_start - f(x_start, num)/f_prime(x_start)
        i = abs(x_new - x_start)
        x_start = x_new
    return(x_new)

In [9]:
newton_root(23, 4, 0.00001)

4.79583152331272

In [14]:
mymat = [[1,2,3], [4,5,6]]

In [17]:
np.array(mymat).shape

(2, 3)

In [4]:
print('number of observation is {num_obs}'.format(num_strudent=2000,num_obs=1000))

number of observation is 1000