In [1]:
import pandas as pd

In [3]:
pdf = pd.read_csv('https://s3.amazonaws.com/istreet-assets/cqj0wXOp6sICdTRWc5X2cw/olive.csv.txt')

In [4]:
pdf.head()

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46

In [5]:
pdf.columns

Index(['Unnamed: 0', 'region', 'area', 'palmitic', 'palmitoleic', 'stearic',
       'oleic', 'linoleic', 'linolenic', 'arachidic', 'eicosenoic'],
      dtype='object')

In [8]:
pdf['Unnamed: 0'][0].split(".")[1]

'North-Apulia'

In [11]:
pdf['new_col'] = pdf['Unnamed: 0'].apply(lambda x:x.split(".")[1])

In [12]:
pdf.head()

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,new_col
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,North-Apulia

In [ ]:
pdf = pdf[['new_col','region']]

In [ ]:
col_names = [,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic]

In [2]:
import pandas as pd

In [3]:
distr_table = pd.DataFrame({
    'X': [0, 0, 1, 1],
    'Y': [1, 2, 1, 2],
    'pr': [0.3, 0.25, 0.15, 0.3]
})

In [4]:
distr_table

   X  Y    pr
0  0  1  0.30
1  0  2  0.25
2  1  1  0.15
3  1  2  0.30

In [67]:
x = distr_table['X'].values

In [68]:
y = distr_table['Y'].values

In [72]:
pr = distr_table['pr'].values

In [69]:
y

array([1, 2, 1, 2])

In [70]:
x

array([0, 0, 1, 1])

In [73]:
indep_list = []
for i in range(len(x)):
    if pr[i]!= sum(distr_table.loc[distr_table['X']==x[i],'pr'])*(sum(distr_table.loc[distr_table['Y']==y[i],'pr'])):
        indep_list.append(False)
        
    else:
        indep_list.append(True)
if all(indep_list):
    indep=True
else:
    indep=False

In [74]:
indep

False

In [75]:
test = []

In [76]:
test.append(True)

In [77]:
test

[True]

In [78]:
test.append(False)

In [80]:
all(test)

False

In [ ]:
x = distr_table['X'][i]
y = distr_table['Y'][i]

In [63]:
for i in range(distr_table.shape[0]):
    print(i)
    x = distr_table['X'][i]
    y = distr_table['Y'][i]
    pr = distr_table['pr'][i]
    print(x, y, pr)
    print(sum(distr_table.loc[distr_table['X']==i,'pr']), (sum(distr_table.loc[distr_table['Y']==i,'pr'])))
    if pr!= sum(distr_table.loc[distr_table['X']==i,'pr'])*(sum(distr_table.loc[distr_table['Y']==i,'pr'])):
        indep = False
    else:
        indep=True

0
0 1 0.3
0.55 0
1
0 2 0.25
0.44999999999999996 0.44999999999999996
2
1 1 0.15
0 0.55
3
1 2 0.3
0 0

In [32]:
mu_x = sum(distr_table['X']*distr_table['pr'])
mu_y = sum(distr_table['Y']*distr_table['pr'])

In [35]:
distr_table

   X  Y    pr
0  0  1  0.30
1  0  2  0.25
2  1  1  0.15
3  1  2  0.30

In [40]:
sum((distr_table['X'] - mu_x)*(distr_table['Y'] - mu_y)*distr_table['pr'])

0.0525

In [41]:
cov = sum((distr_table['X'] - mu_x)*(distr_table['Y'] - mu_y)*distr_table['pr'])

In [51]:
sigma_x = sum(((distr_table['X'] - mu_x)**2)*distr_table['pr'])**0.5

In [52]:
sigma_y = sum(((distr_table['Y'] - mu_y)**2)*distr_table['pr'])**0.5

In [53]:
corr = cov/(sigma_x*sigma_y)

In [54]:
corr

0.21212121212121213

In [55]:
def test():
    re
    return()

In [56]:
test

In [57]:
res = {'are_independent':True, 'cov':cov, 'corr':corr}

In [58]:
res

{'are_independent': True, 'cov': 0.0525, 'corr': 0.21212121212121213}